@media (max-width:749px) {
  html{font-size:11px;}
}


#app {
  max-width: 750px;
  margin: 0 auto;
  padding: 0;
  font-size: 1rem;
}
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #f9f9f9;
  border-bottom: 0.1rem solid #999;
  a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    margin-bottom: -0.1rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
    &.router-link-exact-active {
      color: #1274f2;
      background: #fff;
      border: 0.1rem solid #999;
      border-bottom: none;
    }
  }
}
h1 {
  font-size: 2.6rem;
}
h2 {
  margin: 0 0 0 4rem;
  font-size: 2.6rem;
  letter-spacing: -0.1rem;
  b {
    color: #1274f2;
  }
}

.center {
  text-align: center;
}
.bolder {
  font-weight: 600;
}

.section {
  padding: 3rem 1rem 3rem;
  &:nth-child(2n) {
    background: #fafafa;
  }
  &:last-child {
    margin-bottom: 10rem;
  }
}

.infolist, .progresslist {
  margin: 0 4rem;
  padding: 0;
  list-style: none;
  li {
    p {
      display: flex;
      align-items: baseline;
      font-size: 1.6rem;
      letter-spacing: -0.1rem;
      em {
        margin-right: 1rem;
        font-size: 1.8rem;
        font-weight: 600;
        &::after {
          content: ".";
        }
      }
    }
  }
}


.cardbox {
  display: flex;
  border: 0.1rem solid #ddd;
  border-radius: 1rem;
  box-shadow: 0 4px 12px 0 rgba(129, 135, 142, 0.3);
  > div {
    flex: 1;
    padding: 1rem 1.5rem;
    &:first-child {
      border-right: 0.1rem solid #ddd;
    }
    > p.title {
      font-weight: normal;
      justify-content: center;
      margin: 1rem 0 3rem;
      padding: 0.5rem;
      border-radius: 3rem;
      background: #1274f2;
      font-size: 1.6rem;
      font-weight: 600;
      color: #fff;
      &::before{content: '';}
    }
    > p {
      font-size: 1.4rem;
      &::before {content: '◦';}
    }

  }
}

.costbox {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 2rem 4rem;
  border: 0.1rem solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 4px 12px 0 rgba(129, 135, 142, 0.3);
  > p {
    display: flex;
    margin: 0;
    border-top: 0.1rem solid #ccc;
    font-size: 1.6rem;
    &:first-child {
      border-top: 0;
    }
    > span {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4rem;
      font-weight: 600;
      color: #333;
      &:first-child {
        border-right: 0.1rem solid #ccc;
        background: #fafafa;
        font-weight: normal;
        color: #333;
      }
    }
  }
}


.faqlist {
  margin: 2rem 0 2rem;
  padding: 0;
  border-radius: 1rem;
  background: #fafafa;
  list-style: none;
  li {
    padding: 1rem 2rem;
    border-bottom: 0.1rem solid #ddd;
    &:last-child {
      border: 0;
    }
    p {
      display: flex;
      font-size: 1.4rem;
      &:first-child {
        font-weight: 600;
      }
      i {
        margin-right: 1rem;
        font-size: 1rem;
        color: #1274f2;
      }
      a {
        word-break: break-all;
      }
    }
  }
}